*{
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;  
}

body{
    margin: 0;
}
.countainer{
    display: grid;
    grid-template-columns: 1fr 3.25fr;
    grid-template-rows: 0.8fr 0.7fr 6fr;
    height: 100vh;
    background-color: #a5f3fc;
}
.sidebar{
    display: grid;
    background-color: #67e8f9;
    grid-row: span 3;
    grid-auto-rows: 4rem;
    color: white;
    padding-bottom: 3rem;
}
.maincontent{    
margin: 1rem;
background-color: rgb(165, 243, 252);
}
#element-3{
grid-row: span 3;


}
#logo{
    grid-row: span 2;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
#home img{
    height: 35px;
    width: 35px;
    padding-left: 1rem;

}
#logo img{
    height: 3rem;
    width: 3rem;
    padding-left: 1rem;

}
#home{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#profile img{
    height: 2rem;
    width: 2rem;
    padding-left: 1rem;


}
#profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#messages img{
    height: 2.5rem;
    width: 2,5rem;
    padding-left: 1rem;

}
#messages{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#history img{
    height: 2rem;
    width: 2rem;
    padding-left: 1rem;
}
#history{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#tasks img{
    height: 2rem;
    width: 2rem;
    padding-left: 1rem;
}
#tasks{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#communities img{
    height: 2rem;
    width: 2rem;
    padding-left: 1rem;
}
#communities{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#settings img{
    height: 2rem;
    width: 2rem;
    padding-left: 1rem;
}
#settings{
    display: flex;
    align-items: center;
    gap: 1rem; 
}
.navbar{
    background-color: #fef08a;
    display: grid;
    grid-template-columns: 3fr 1fr;

}
#search-bar img{
   

    height: 1.3rem;
    width: 1.3rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 1rem;
}

.form-input{
    width: 48rem;
    background-color: #cffafe;
    border-radius: 12px;
    border-color:#cffafe ;
    padding-left: 0.5rem;
    padding-top: 4px;
    
}
#profil-side img{
    height: 2rem;
    width: 2rem;
}
#profil-side{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.header{
    display: grid;
    grid-template-columns: 1fr 3fr 0.75fr 0.75fr 0.75fr;
    background-color: #fef08a;
    border-bottom: 5px solid lightgray;      
      
}
#t1{
    display: flex;
    justify-content: center;
    align-items: center;

}
#t1 img{
    height: 6rem;
    width: 6rem;
}
.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:16px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 29px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a5f3fc;
    margin-bottom: 10px;
}
.main-text h2{
    padding-right: 4rem;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr ;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 1.5rem;
    height: 45rem;
    width: 100%;
    height: 90%;
    background-color:#a5f3fc ;
    padding-bottom: 3rem;
      
      

}
.card{
    height: 100%;
    width: 95%;
    border-radius: 14px;
    background-color: #fef08a;
    border-left: 5px solid #67e8f9;
    padding-right: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 


    
    
}
.imgs{
    height: 1.5rem;
    width: 1.5rem;
    float: right;
    padding-top: 2rem;
    margin: 6px;
}
.card h2,p{
    padding-left: 17px;
}
.card h2{
    padding-bottom: 14px;
}
.first-card{
    width: 100%;
    height: 43%;
    background-color:#fef08a ;
    border-radius: 12px;
    border-bottom: 5px solid lightgray;      

}
.second-card{
    width: 100%;
    height: 46%;
    background-color: #fef08a;
    border-radius: 12px;

}
.first-card p{
   margin: 5px;
}
.first-card hr{
    width: 50%;
    margin: 0 auto;
}
.first-card h3{
    margin-left: 10px;
    text-align: center;

}
.second-card{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}
.user{
    background-color: #fef08a;
}

#user1{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 12px;
}
#user1 img{
    height: 2rem;
    width: 2rem;
    padding-right: 8px;

    
}
#user2{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
#user2 img{
    height: 2rem;
    width: 2rem;
    padding-right: 8px;

    
}
#user3{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
#user3 img{
    height: 2rem;
    width: 2rem;
    padding-right: 8px;

    
}
#user4{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 12px;
    border-bottom: 5px solid lightgray;      

}
#user4 img{
    height: 2rem;
    width: 2rem;
    padding-right: 8px;
    
}


